<configuration>
  <system.runtime.remoting>
    <application name="Hello">
      
      <channels>
        <channel ref="http" port="8087"	secure="true"	protectionLevel="EncryptAndSign"
		TokenlmpersonationLevel="Impersonation">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="soap"/>
          </clientProviders>
        </channel>
      </channels>
      
      <lifetime  leaseTime = "19M" sponsorshipTimeOut = "2M" renewOnCallTime = "3M" pollTime = "39s"/>
      
    </application>
  </system.runtime.remoting>
</configuration>
