<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="1"
		secure="true"
		protectionLevel="EncryptAndSign"
		TokenlmpersonationLevel="Impersonation">
          <clientProviders>
            <formatter ref="soap"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>